In [321]:
import math
import numpy as np 
import pandas as pd 
import matplotlib as plt 

import statistics
from statistics import mode

In [322]:
from collections import Counter

In [323]:
def majority(arr):
    return(mode(arr))

In [367]:

arr = [2, 7, 3, 3, 7, 6, 6, 6, 1, 9, 0, 1, 7, 6, 3, 2]
len(arr)
majority(arr)

6

In [325]:
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([6, 12, 8, 7, 9])
np.sqrt(np.sum((arr2-arr1)**2))

13.228756555322953

In [326]:
def euclidean_dist(x,y):
    return np.sqrt(np.sum((x-y)**2))

In [327]:
test_data1 = pd.read_csv("mnist_test.csv")
train_data1 = pd.read_csv("mnist_train.csv")

In [328]:
test_data = test_data1
train_data = train_data1.head(5)

In [329]:
test_data.head()

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [330]:
train_data.head()

,5,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [331]:
train_labels = train_data.iloc[:,0]
test_labels = test_data.iloc[:,0]

len(train_labels)

5

In [332]:
train_data=train_data.drop(train_data.columns[[0]], axis=1)
test_data=test_data.drop(test_data.columns[[0]], axis=1)

In [333]:
test_data.head()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [334]:
train_data.head()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [335]:
test_data = test_data.to_numpy()
train_data = train_data.to_numpy()

In [336]:
train_data.shape

(5, 784)

In [337]:
test_data.shape

(9999, 784)

In [338]:
euclidean_dist(test_data[0],train_data[0])

2920.0145547582465

In [368]:
#add train data labels to your new dataframe
#use test data labels when selecting labels for the k neighbours
def KNN(test_data,train_data,test_label,train_label,k):
    prediction_list = []
    for i in train_data:
        dist_list = []
        for j in test_data:
            dist = euclidean_dist(i,j)
            #print(dist)
            dist_list.append(dist)
        #print(len(dist_list))
        df = pd.DataFrame()
        df['label'] = test_label
        df['dist'] = dist
        df=df.sort_values(by=['dist'])
        #print(df)
        final = []
        for x in range(0,k+1):
            final.append(int(df.iloc[x]['label']))
        #print(final)
        prediction = majority(final)
        #print(prediction)
        prediction_list.append(prediction)
    return prediction_list

In [370]:
res = KNN(test_data,train_data,test_labels,train_labels,1000)

In [316]:
len(train_labels)

5

In [371]:
result = pd.DataFrame()
result['label'] = train_labels
result['prediction'] = res

In [372]:
result

   label  prediction
0      0           3
1      4           3
2      1           3
3      9           3
4      2           3